backend/volumes/*
node_modules
backend/database/__pycache__/
backend/firebase/__pycache__/
backend/labels/__pycache__/
backend/.key/*
backend/__pycache__/
backend/labels/barcodes/__pycache__/
backend/.pytest_cache
.DS_*
key_*
