@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --brandColor: #7f48a3;
  --navTextColor: #fff;
  --textColor: #000;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--textColor);
}

.navbar {
  background-image: linear-gradient(to bottom right, #7f48a3, #502e66);
}

.navbar .nav-link {
  color: var(--navTextColor);
}

.navbar .navbar-brand {
  color: var(--navTextColor);
  font-weight: bold;
  font-size: 30px;
}

.modal-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

.modal-container {
  position: relative;
  width: 500px;
  height: 620px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  margin-left: 37vw;
  margin-top: 3%;
}

.modal-container .title {
  font-size: xx-large;
  color: #7f48a3;
  text-align: center;
  margin-top: 15%;
}

.modal-container .footer {
  display: flex;
  position: fixed;
  margin-left: 15%;
  bottom: 7%;
}

.modal-container img {
  width: 60%;
  margin-top: 5%;
  margin-left: 20%;
}

.modal-container button {
  margin: 2%;
  position: absolute;
  width: 8%;
  height: 6%;
  display: flex;
  background: none;
  border: none;
  border-radius: 9px;
  right: 0;
}

.modal-container button:hover {
  background-color: #efe0f8;
}

.modal-container .close-btn {
  color: #502e66;
  align-self: center;
  margin: 23%;
}

.scanner-input {
  display: none;
}